.container {
    display: grid;
    align-content: center;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}
img:hover{
    opacity: 50%;
}
.imagen-container.loading img {
    opacity: 0.5;
}