.root {

    min-height: 350px;
    justify-content: center;
    align-items: center;

}

.search {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.search button{
    align-self: center;
}

.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.search-container mat-form-field {
    width: 300px;
}