@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 20px;
}

.movie-list-container {
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 100%;
  margin-top: 20px;
}

.mat-column-actions {
  width: 120px;
}

.active {
  color: green;
}

.inactive {
  color: red;
}
