.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
    grid-template-columns: 100%;
}

@media (max-width: 768px) {
    .app-container {
        grid-template-rows: auto 1fr auto;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .app-container {
        grid-template-rows: auto 1fr auto;
        padding: 0 5px;
    }
}